/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

 .jumbotron {
  text-align:center;
  color: red;
  background-image: url('../images/Kremlin.jpg');
    }

    ul.nav, .jumbotron {
    	font-family: 'Open Sans Condensed', sans-serif;
    }
    ul.nav{
    	font-size: 22px;
    }
  .jumbotron h1 {
  	margin-top: 0px;
  	margin-bottom: 30px;
  }
 .btn-lg{
        fong-size: 36px;
        color: yellow;
      }

  .jumbotron p {
  	color: gray;
  	font-weight: 100;
  	padding: 0 50px;
  }
 	.homepage { 		
    text-align: center;
 	}

 	.homepage h2 {
 		    font-size: 30px;
    font-family: arvo, courier, serif;
 	}
 	.homepage p {
 		font-size: 20px;
 	}